.wrapper {
    border: 4px solid gold;
}

ul {
    list-style-type: armenian;
}

h1 {
    color: chocolate;
}

.about p {
    color: tomato;
    font-weight: bold;
}

.about h2 {
    color: chocolate;
    text-transform: uppercase;
}